{% extends 'base.html.twig' %}

{% block body %}


    <h1>{% trans %}Geo Ip for{% endtrans %} {{ ip }}</h1>
    <p class="lead">
        {% trans %}Localize an ip adress{% endtrans %}
    </p>

    <div style="text-align: center;">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>


    {% if record is not null %}
        <div class="geoip_content" >
            <ul class="list-unstyled">
                <li>
                    {% if record.city.name is defined %}
                    {% trans %}City:{% endtrans %} {{ record.city.name }} -
                    {% endif %}
                    <img src="{{ asset("bundles/app/images/flags/") ~ record.country.isoCode|minimize ~ ".png"  }}" alt="[{% trans %}Country{% endtrans %} - {{ record.country.name }}]" /> - (Lon:{{ record.location.longitude }}, Lat:{{ record.location.latitude }})</li>
            </ul>

            <div id="map" style="width: 600px; height:300px;"></div>
            <script>
                function initMap() {
                    var myLatLng = {lat:{{ record.location.latitude }}, lng: {{ record.location.longitude }}};

                    // Create a map object and specify the DOM element for display.
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: myLatLng,
                        scrollwheel: false,
                        zoom: 8
                    });

                    // Create a marker and set its position.
                    var marker = new google.maps.Marker({
                        map: map,
                        position: myLatLng,
                        title: '{{ ip }}'
                    });
                }

            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdnVlGwp13imTYb02hgJCrnM_aG22BIFU&callback=initMap"
                    async defer></script>




            <i>
                {% trans %}This product includes GeoLite2 data created by MaxMind, available from
                <a href="http://www.maxmind.com">http://www.maxmind.com</a>.{% endtrans %}
            </i>
        </div>




    {% else %}
        <div>
            {% trans %}Sorry we haven't found location of this ip{% endtrans %}
        </div>
    {% endif %}



    <div class="geoip_content">
        {{ clientInfo|raw }}
    </div>




{% endblock %}

